html {
    background-color: #3a5335;
    overflow-y: scroll;
}

body {
    background-color: #1a2e1a;
    color: #e4f9e0;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 10px;
}

header, footer {
    background-color: #2b3d2b;
    padding: 10px;
    margin: 0;
    grid-column: 1;
    font-weight: bolder;
}

nav {
    width: 99%;
    font-size: 14px;
    margin: auto;
    background-color: #4b6b4b;
    padding: 3px;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

nav ul li {
    padding: 3px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    background-color: #2b3d2b;
    padding: 5px;
    border-radius: 5px;
    transition: transform 0.1s;
}

label {
    color: #c3e6c3;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    transform: scale(1.1);
}

main {
    padding: 5px;
    grid-column: 1;
    grid-row: 3;
}

table {
    border: 2px solid #e4f9e0;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #e4f9e0;
    padding: 5px;
}

th {
    position: sticky;
    top: -1px;
    color: #1a2e1a;
    background-color: #a2d5a2;
}

form label {
    color: #c3e6c3;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

form {
    display: flex;
    align-items: center;
    background-color: #2b3d2b;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #2b3d2b;
}

form input[type="text"] {
    background-color: #ffffff;
    color: #000000;
    padding: 5px 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
}

form input[type="submit"] {
    background-color: #a2d5a2;
    color: #1a2e1a;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 6px;
}

form input[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
}

input {
    color: #1a2e1a;
    text-decoration: none;
    font-weight: bold;
}

