<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokémon Database</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Pokémon Database</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            <li>
                <a href="/display/Bug">Bug</a>
            </li>
            <li>
                <a href="/display/Dark">Dark</a>
            </li>
            <li>
                <a href="/display/Dragon">Dragon</a>
            </li>
            <li>
                <a href="/display/Electric">Electric</a>
            </li>
            <li>
                <a href="/display/Fairy">Fairy</a>
            </li>
            <li>
                <a href="/display/Fighting">Fighting</a>
            </li>
            <li>
                <a href="/display/Fire">Fire</a>
            </li>
            <li>
                <a href="/display/Flying">Flying</a>
            </li>
            <li>
                <a href="/display/Ghost">Ghost</a>
            </li>
            <li>
                <a href="/display/Grass">Grass</a>
            </li>
            <li>
                <a href="/display/Ground">Ground</a>
            </li>
            <li>
                <a href="/display/Ice">Ice</a></li>
            <li>
                <a href="/display/Normal">Normal</a>
            </li>
            <li>
                <a href="/display/Poison">Poison</a>
            </li>
            <li>
                <a href="/display/Psychic">Psychic</a>
            </li>
            <li>
                <a href="/display/Rock">Rock</a>
            </li>
            <li>
                <a href="/display/Steel">Steel</a>
            </li>
            <li>
                <a href="/display/Water">Water</a>
            </li>
            <li>
                <a href="/display/0">Non Legendary</a>
            </li>
            <li>
                <a href="/display/1">Legendary</a>
            </li>
            <li>
                <a href="/display/All Pokémon">All Pokémon</a>
            </li>
            <li>
                <form method="post" action="/search">
                    <label for="searchbar">Search the database</label>
                    <input type="text" name="Search" id="searchbar">
                    <input type="submit" value="Search!">
                </form>
            </li>
        </ul>
    </nav>
    <main>
        {% block main %}

        {% endblock %}
    </main>
    <footer>
        <p> </p>
    </footer>
</body>
</html>