    {% extends "base.html" %}
    {% block main %}

        <h2>{{ table_type }}</h2>
        <table>
            <thead>
            <tr>
                <th>Tag</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>

                {% for row in data %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    {% endblock %}