    {% extends "base.html" %}
    {% block main %}

        <h2>{% if table_type  == '1' %}
            Legendary Pokémon
        {% elif table_type == '0' %}
            Non Legendary Pokémon
        {% elif table_type in ['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire', 'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison', 'Psychic', 'Rock', 'Steel', 'Water'] %}
            {{ table_type }} Type Pokémon
        {% else %}
            {{ table_type }}
        {% endif %}
        </h2>
        <table>
            <thead>
            <tr>
                <th>Pokédex Number</th>
                <th>Name</th>
                <th>Primary Type</th>
                <th>Secondary Type</th>
                <th>Health Stat</th>
                <th>Attack Stat</th>
                <th>Defence Stat</th>
                <th>Special Attack Stat</th>
                <th>Special defence Stat</th>
                <th>Speed Stat</th>
                <th>Base Stat Total</th>
                <th>Generation</th>
                <th>Legendary Status</th>
            </tr>
            </thead>
            <tbody>

                {% for row in data %}
                    <tr>
                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                        <td> {{ row[3] }} </td>
                        <td> {{ row[4] }} </td>
                        <td> {{ row[5] }} </td>
                        <td> {{ row[6] }} </td>
                        <td> {{ row[7] }} </td>
                        <td> {{ row[8] }} </td>
                        <td> {{ row[9] }} </td>
                        <td> {{ row[10] }} </td>
                        <td> {{ row[11] }} </td>
                        <td> {% if row[12] == 1 %}
                            Legendary
                        {% else %}
                            Non Legendary
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    {% endblock %}