{% extends "base.html" %}
{% block main %}

         <h2>Welcome</h2>
         <p>This website displays all Pokémon from generations 1 through 8</p>
         <p>Use the Buttons at the top to filter by type, or search for any Pokémon!</p>
         <p>This website displays a Pokémon's Pokédex number, name, primary type, secondary type, health stat, attack stat, defence stat, special attack stat, special defence stat, speed stat, base stat total, generation, and whether it is considered legendary! </p>
{% endblock %}